@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100&family=Roboto:wght@100&display=swap');


body{
    background: linear-gradient(90deg, #ADA7FF,#BBADFF,#CBB2FE,#DAB6FC,#DDBDFC,#E0C3FC);
}

.box1{
    width: 80vw;
    height:12vh;
    margin:2% 10%;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    font-size: 3em;
    font-family: "open-sans", sans-serif;
    color:white;
    display: inline-block;
    position: absolute;
    left:30%;
    transition: font-size .5s .1s;
}
#a2{
    left:50%;
}

#a3{
    left:70%;
}

#top a:hover{
    font-size:3.5em;
}

.container{
    height:auto;
    width:80vw;
    position: relative;
    left:10vw;
    right:5vw;
    margin:4% 0;
}
.box{
    background: #17181F;
    border-radius:5em;
    margin-top:4%;
    position: relative;
    padding:5%;
}

.pprog{
    font-size:2.5em;
    margin: 0 0 3% 0;
}

p{
    color:white;
    font-family:'open sans','sans-serif';
    font-size:1.5em;
    margin:0;
}

#haut-p{
    font-size:1em;
    position: sticky;
    width:5em; 
    height:5em;
    bottom:3vh;
    left:95.5vw; 
    border-radius: .25em;
    background:hsla(0, 0%, 100%, 0.075);
    border: 1px solid rgba(255, 255, 255, 0.123);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}
#haut-p img{
    width:3em;
    height:auto;
}

@media (max-width: 1440px){
    p{
        font-size:1em;
    }
    a{
        font-size:1.5em;
    }
    .pprog{
        font-size:1.25em;
        margin:0 0 0 7%;
    }
}